<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="addr" value="net.tcp://10.101.34.90:8000/Service"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="FileServiceBehavior" name="MCBChat_Server.ChatService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding"
				 contract="MCBChat_Server.IChat" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.101.34.90:9000/Service" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="DuplexBinding" maxBufferPoolSize="2147483647"
      maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
					<reliableSession enabled="true" />
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="FileServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>